@font-face {
  font-family: "Pokemon Solid";
  src: url("/pokemondex/styles/Pokemon-Solid.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Esto asegura que la fuente se cargue de forma eficiente */
}



.color1{
  color: #222e50;
}

.color2{
  color: #f9dc5c;
}



* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
  }
  
  body {
    min-height: 100vh;
    max-width: 100%;
    overflow: hidden;
    background-color: #fbff00;
    text-align: center;
    background-image: url("./bg.png");
    background-size:cover ;
    background-repeat:no-repeat ;
    background-position: center;
}

h1{
    margin-top: 10rem;
    font-family: "Pokemon Solid";
    font-size: 60px;
    letter-spacing: 4px;
    color: #222e50;
    
}

/* NavBar */

#navbar {
  color: #f9dc5c;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color:#222E50;
  transition: background-color 1s;
  z-index: 1000;
}

/* Estilo Encabezado Derecho */
#navbar a {
  color: #f9dc5c;
  text-decoration: none;
}

/* Color de fondo cuando se scrollea */
#navbar.scrolled {
  background-color: #12294E;
}

.logo_nav_container {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* Icono Hamburguesa Oculto por default */
.icono_menu {
  display: none;
}

.container_nav {
  display: flex;
  width: 95%;
  max-width: 1900px;
  margin: 0 auto;
  font-size: 13pt;
}


.nav_menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: bold;
}

.nav_menu ul li {
  display: inline-block;
}

.nav_menu ul li a {
  display: block;
  padding: 0rem 1rem;
  transition: all 0.4s linear;
}

/* Efecto Botones Navbar */
/* .nav_menu ul li a:hover {
  box-shadow: 0 0 10px 0 #39a0ed inset, 0 0 10px 4px #39a0ed;
  border-radius: 3px;
} */

.nav_menu ul li a::before {
  margin-left: auto;
}

.nav_menu ul li a::after,
.nav_menu ul li a::before {
  content: "";
  width: 0%;
  height: 2px;
  background: #39a0ed;
  display: block;
  transition: 0.5s;
}

.nav_menu ul li a:hover::after,
.nav_menu ul li a:hover::before {
  width: 100%;
}


/* Inputs de Registro */
/* Inputs de Registro */
/* Inputs de Registro */

.container-register{
    display: flex;
    position: relative;
    margin: auto;
    justify-content: center;
    
}
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    border: solid 2px;
  }
  
  .title {
    font-size: 28px;
    color: royalblue;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  .title::before,.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: royalblue;
  }
  
  .title::before {
    width: 18px;
    height: 18px;
    background-color: royalblue;
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .message, .signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a {
    color: royalblue;
  }
  
  .signin a:hover {
    text-decoration: underline royalblue;
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .form label {
    position: relative;
  }
  
  .form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  .form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
  }
  
  .form label .input:focus + span,.form label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .form label .input:valid + span {
    color: green;
  }
  
  .submit {
    border: none;
    outline: none;
    background-color: royalblue;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
  }
  
  .submit:hover {
    background-color: rgb(56, 90, 194);
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }



.text-apoyo-index{
    margin-top: 15rem;    
}


/* Footer */
/* Footer */

footer{
    display: flex;
    position: fixed;
    padding: 1rem;
    gap: 5px;
    background-color: #222e50;
    color: #f9dc5c;
    justify-content: center;
    align-items: center;
    font-size: 9pt;
    padding-left: 8pt;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 25px;
}